.magnifier-popup
  z-index: 20000
.input-magnifier
  font-size: 20px
  border: solid 1px #ffd2b2
  background: #fffae5
  padding: 0 0 0 10px
  color: #ff4400
  min-height: 30px
  .explain
    font-size: 12px
    color: #b2b2b2
    border-top: 1px solid #ffd2b2
    margin: 0 10px 3px 0
    padding: 3px 0
  .text
    _height: 32px
    line-height: 30px
    font-weight: bold